/* Esta es la parte de la cabezera */
function obtenerValoresInput() {
    
    const ancho = Number(document.getElementById("ancho").value);
    const largo = Number(document.getElementById("largo").value);
    const posesAncho = Number(document.getElementById("posesAncho").value);
    const posesLargo = Number(document.getElementById("posesLargo").value);
    const pA = ancho*posesAncho;
    const pL = largo*posesLargo;
    return {
        ancho,
        largo,
        posesAncho,
        posesLargo,
        pA,
        pL,
    }
}

function calcularsize() {
    const {pA,pL} = obtenerValoresInput();

    document.getElementById("resultadoSizeBoard").innerHTML = pA + ("x") + pL;

/* Esta es una lista de Maximos y minimos de maquina, para comprobar
del listado por donde puede entrar y por donde no la plancha inicial */
    const listadoPlanchas = [
        {
            nombre: "DongFangMaquina",
            dimiensionesMinimo: {ffgjytfhfhtcfchchfctfh
                ancho: 605,
                largo: 600
                    
            },
            dimiensionesMaximo: {
                ancho: 1540,
                largo: 2780
            }
        },
        {
            nombre: "BobstMaquina",
            dimiensionesMinimo: {
                ancho: 400,
                largo: 400
            },
            dimiensionesMaximo: {
                ancho: 1028,
                largo: 1550
            }
        },
        {
            nombre: "CurioniMaquina",
            dimiensionesMinimo: {
                ancho: 300,
                largo: 1
            },
            dimiensionesMaximo: {
                ancho: 2000,
                largo: 3000
            }
        },
        {
            nombre: "MartinMaquina",
            dimiensionesMinimo: {
                ancho: 300,
                largo: 800
            },
*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(228, 228, 228);
}

div{
    margin: 20px;
    padding: 20px;
    background: chocolate;
    border-radius: 10px;
}
div div{
    background: cornflowerblue;
}
div div div{
    background: crimson;
}
div div div div{
    background: rgb(36, 226, 36);
}

/*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: rgb(214, 214, 214);
    max-height: 90%;
}

.cabecera{
    max-width: 90%;
    align-items: center;
    background: coral;
    display:flexbox;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 20px;
    border-radius: 10px;
}

.cabecera h1{
    text-align: center;
    margin: 20px;
}

.parte1{
    max-width: 80%;
    align-items: center;

}

.maquinas ul{
    list-style: none;
    max-width: 1000px;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.Indice{
    width: 30em;
    margin: 0 1em 0 0;
    padding: 0 20px;
	height: 40px;
	border: none;
	color: #fff;
	background: #535353;
	border-radius: 3px;
	font-size: 16px;
    cursor: pointer;
}

.Indice .activo{
    width: 30em;
    margin: 0.5em;
    padding: 0 20px;
	height: 40px;
	border: none;
	color: #fff;
	background: #535353;
	border-radius: 3px;
	font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}

.resultado{
min-height: 80%;
position: relative;
}

.bloque{
position: relative;
opacity: 1;
transition: all .5s ease;
}

.bloque.activo{
opacity: 1;
}

/* .resultado input{
    height: 30px;
    width: 200px;
    text-align: center;
    border: none;
    background: #fff;
    border-radius: 3px;
    inwebkit-inner-spin-button,
    -webkit-appearance: none;
} */ 
            c1
